<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>商品一覧</title>
</head>
<h1>商品一覧</h1>

<body>
	こんにちは！[[${@account.name}]]さん
	<br>
	<a href="/logout">ログアウト</a>
	<hr>
	
	<form action="/items" value="get">
	<input type="text" name="key"　th:value="${key}" placeholder="検索"　>
	<input type="submit" value="検索">
	<br>
	</form>
	<table border="1">
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>値段</th>
			<th>更新</th>
			<th>削除</th>
		</tr>
		<tr th:each="item:${list}">
			<td>[[${item.id}]]</td>
			<td>[[${item.name}]]</td>
			<td>[[${item.price}]]</td>
			
			<form th:action="|/items/${item.id}/edit|" method="get">
			<td><input type="submit" value="更新"></td>
			</form>
			</form>
			<form th:action="|/items/${item.id}/delete|" method="post">
			<td><input type="submit" value="削除"></td>
			</form>
		</tr>
	</table>
	<a href="/items/add">新規登録</a>

</body>

</html>